<p>This is the partial for view 1.</p>
<table border="1" class="class2 class3">

    <caption>Employees 2016</caption>

    <tr class="class1">
        <th>Emp ID</th>
        <th>Emp Name</th>
        <th>Salary</th>
        <th>Options</th>
    </tr>

    <tr ng-repeat="emp in employees">
        <td>{{emp.empid}}</td>
        <td>{{emp.empname}}</td>
        <td>{{emp.salary}}</td>
        <td><input type="button" value="Remove" ng-click="removeemployee($index)"></td>
    </tr>

    <tr>
        <td><input type="text" ng-model="newemployee.newempid" placeholder="New emp id" autofocus="autofocus"></td>
        <td><input type="text" ng-model="newemployee.newempname" placeholder="New emp name"></td>
        <td><input type="text" ng-model="newemployee.newsalary" placeholder="New salary"></td>
        <td><input type="button" value="Add" ng-click="addemployee()"></td>
    </tr>

</table>